[Unit]
Description=Emacs text editor

[Service]
Type=simple
ExecStart=emacs --fg-daemon
ExecStop=emacsclient --eval "(kill-emacs)"
Restart=on-failure

[Install]
WantedBy=default.target
